@{
    ViewData["Title"] = "Auth - ForgotPassword";
    Layout = "_Layout2";
}

@model ForgotPasswordViewModel

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Find your account</h1>
            <form asp-action="ForgotPassword">

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password">
                </div>

                <input type="submit" value="Find your account" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>