@{
    ViewData["Title"] = "Auth - Login";
}

@model LoginViewModel

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Login</h1>
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" asp-for="EmailAddress">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password">
                </div>

                <input type="submit" value="Login" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>


@*<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Error
                    </div>
                }

                <h1 class="contact_text">Login</h1>

                <form asp-controller="Auth" asp-action="LoginProcess" class="mail_sectin">
                    <input type="email" class="email-bt" placeholder="Email" name="Email">
                    <input type="password" class="email-bt" placeholder="Password" name="Password">
                    <div class="send_bt">
                        <button type="submit" class="btn btn-danger">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@