@{
    ViewData["Title"] = "Auth - Register";
}

@model RegisterViewModel

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Sign up</h1>
            <form asp-action="Register">

                <div class="mb-3">
                    <label for="email" class="form-label">Name</label>
                    <input class="form-control" asp-for="Name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Surname</label>
                    <input class="form-control" asp-for="SurName">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" asp-for="EmailAddress">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password">
                </div>

                <input type="submit" value="Sign up" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
